
<section *ngFor="let produto of produtosList" > </section>

<table mat-table [dataSource]="produtos" class="mat-elevation-z8">
  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
  </ng-container>

  <!-- Quantidade Column -->
  <ng-container matColumnDef="quantidade">
    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
    <td mat-cell *matCellDef="let produto"> {{produto.quantidade}} </td>
  </ng-container>

  <!-- Preço Column -->
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef> Preço </th>
    <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
  </ng-container>

  <!-- Ação Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> Ação </th>
    <td mat-cell *matCellDef="let produto">
      <button mat-icon-button color="warn" (click)="deleteProduto(produto.id)">
        <mat-icon>delete</mat-icon> <!-- Alterado para usar o ícone do Material -->
      </button>
    </td>
  </ng-container>

  <!-- Definindo as linhas do header e dos dados -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
